<header class="top-bar" role="banner">
  <div class="locations">

    <div class="location">
      <span class="name">Manhattan</span>
      <span class="hours">Open until 11 PM</span>
      <a href="https://maps.app.goo.gl/JgG9MjZAtc1yQ9ZT7" class="address" target="_blank">
        <i class="fa-solid fa-location-dot"></i> 22 W 66th St, New York, NY 10023
      </a>
    </div>

    <div class="location">
      <span class="name">Queens</span>
      <span class="hours">Open until 8 PM</span>
      <a href="https://maps.app.goo.gl/AFbTU8NPJ4XUNWYCA" class="address" target="_blank">
        <i class="fa-solid fa-location-dot"></i> 71-10 Grand Ave, Maspeth, NY 11378
      </a>
    </div>

  </div>

  <button class="shop-now" [routerLink]="'/shop'">Shop Now</button>
</header>
